/* Change the styles below in order to customize your template */

body{font: 400 5.5em/125% 'Amatic SC', Helvetica, Sans-serif; font-weight: regular; font-size: 22px; color: #939494; background-color: #FFF; margin: 0;}
.container{width 67%; height:100%;}


.wrapper{display: block; padding: 0px 15px 0 15px; border: 0.5px;}

.map{background-color:#eee; position: absolute; top: 0; left: 0; bottom: 0; width: 67%; height:100%;}

.councillegend{height: 100px; width: 100px; position: absolute; background-color: #fff;}

.sidepanel{background-color:#FFF; position: absolute; top: 0; right: 0; bottom: 0; width: 33%; height: 100%; overflow: auto;}


h1{font-family: 'Amatic SC', Helvetica, Sans-serif;font-weight: 500; font-size: 120px; letter-spacing: -1px; color: #939494; line-height: 120px; margin-top: 8px; margin-bottom: -4px;}
h3{font-weight: bold; font-size: 2; color: #CCC; text-transform: uppercase; margin: 10px 0 0 0;}
p{margin-top: 5px; line-height: 0px; margin-bottom: 5px; white-space: nowrap; border-bottom: 02px solid #1F78B4;}
a, a:visited{color: #397DB8; text-decoration: none;}
a:hover{text-decoration: none;}
#count{display: inline-block;
        padding: 0.5em;
        font-size: 50px;
        color: #F84F40; 
        border-bottom: 2px; 
        font-weight: 600; 
        padding-top: 25px; 
        padding-right: 0px; 
        padding-left: 0px;
        -webkit-animation-name: count;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-name: count;
        -moz-animation-duration: 1.5s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;

        animation-name: count;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
}

@-moz-keyframes count {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4;
        color: #FFCC5D}
    100% { opacity: 1.0; }
}

@-webkit-keyframes count {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4; 
        color: #FFCC5D}
    100% { opacity: 1.0; }
}

@keyframes count {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4; 
        color: #FFCC5D}
    100% { opacity: 1.0; }
}


.context{font-family: Helvetica, Arial; font-size: 13px; color: #999; padding: 0px 0 0 0;}

.spectagram{width: inherit; height: inherit; height: 200px}

.context.footer{margin-top: 0px;}

.subheader{border-bottom: 02px solid #1F78B4;}

.footer{border-top: 1px solid #ddd; margin-top: 30px;}

.titleBlock{text-align: right;}

#instafeed a {
  padding:5px 5px 1px 5px;
  margin:10px;
  border:1px solid #e1e1e1;
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

#instafeed .likes {
  background:rgba(31, 120, 180, 0.5);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

